$color-primary:#016a98;

$color-primary-dark:#2C73D2;
$color-primary-light:#449bf3;

$color-white: #fff;
$color-black: #000;

$color-bg-white:#f7f7f7;
$color-grey:#4B4453; 


$color-footer-bg:#cfcbd2;